## Data Preparation for various test

In [1]:
import pandas as pd
import numpy as np

In [60]:
#1 prepare the data for ANOVA (3 GROUPS WITH Weight atrribute), 10 samples for 3 groups, ctrl/trt1/trt2
ctrl=np.random.uniform(4,6,10)
trt1=np.random.uniform(5,6,10)
trt2=np.random.uniform(5,7,10)

In [79]:
df=pd.DataFrame()
for i,j in zip([ctrl,trt1,trt2],['ctrl','trt1','trt2']):
    temp_df=pd.DataFrame(i)
    temp_df.columns=['weight']
    temp_df['group']=j
    df=pd.concat([df,temp_df])

In [82]:
df.head()

     weight group
0  5.838792  ctrl
1  4.004314  ctrl
2  4.906519  ctrl
3  5.852097  ctrl
4  4.314734  ctrl

In [93]:
df.groupby('group').size()

group
ctrl    10
trt1    10
trt2    10
dtype: int64

In [94]:
df.to_csv('treegrowth.csv')

In [97]:
#1 prepare data for paired sampled t-test :- The paired sample t-test is also called dependent sample t-test
from numpy.random import randint
bp_before_male=randint(140, 180, 60)
bp_before_female=randint(150, 180, 60)
bp_after_male=randint(160, 180, 60)
bp_after_female=randint(160, 180, 60)

In [102]:
female_df=pd.DataFrame([bp_before_female,bp_after_female]).T
female_df.columns=['bp_before','bp_after']
female_df['group']='female'
female_df.head()

   bp_before  bp_after   group
0        165       177  female
1        173       175  female
2        159       163  female
3        174       179  female
4        163       161  female

In [103]:
male_df=pd.DataFrame([bp_before_male,bp_after_male]).T
male_df.columns=['bp_before','bp_after']
male_df['group']='male'
male_df.head()

   bp_before  bp_after group
0        158       178  male
1        157       160  male
2        172       162  male
3        141       163  male
4        146       163  male

In [105]:
df=pd.concat([female_df,male_df])
df.head()

   bp_before  bp_after   group
0        165       177  female
1        173       175  female
2        159       163  female
3        174       179  female
4        163       161  female

In [106]:
df.groupby('group').size()

group
female    60
male      60
dtype: int64

In [107]:
df.to_csv('bloodpressure.csv')

In [118]:
#prepare data for chi square
from random import choices

In [124]:
ad=choices(['a', 'b'], k=10)
click=choices(['yes','no'], k=10)

In [127]:
df=pd.DataFrame([ad,click]).T
df.columns=['ad','click']
df.head()

  ad click
0  a   yes
1  b    no
2  a    no
3  a   yes
4  a    no

In [129]:
df.groupby('ad').size()

ad
a    6
b    4
dtype: int64

In [130]:
df.to_csv('click_ad.csv')